* {
    box-sizing: border-box;
}
body {
    width: 100%;
}

.container {
    height: 800px;
    width: 1000px;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
}

.bookCard {
    height: 100px;
    width: 1000px;
    display: flex;
}

.information {
    height: 30px;
    width: 1000px;
    background-color: red;
    display: flex;
    gap: 110px;
    align-items: center;
    justify-content: center;
}


.bookTitle {
    width: 260px;
    height: 100px;
    background-color: blue;

}

.bookAuthor {
    width: 250px;
    height: 100px;
    background-color: green;
}

.readDiv {
    width: 250px;
    height: 100px;
    background-color: yellow;
}

.author {
    padding-right: 60px;
}

.title {
    padding-right: 90px;
}

.read {
    padding-left: 30px;
}

.removeBook {
    width: 20px;
    height: 50px;
    background-color: purple;
}