* {
    box-sizing: border-box;
}
body {
    width: 100%;
}

.container {
    height: 800px;
    width: 1000px;
    border: 2px solid gray;
    display: flex;
    
    
}

.bookCard {
    height: 100px;
    width: 1000px;
    display: flex;
    
    align-items: center;
    overflow: hidden;
}

.information {
    height: 30px;
    width: 1000px;
    background-color: red;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
    align-items: center;
    
}


.bookTitle {
    width: 300px;
    height: 100px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookAuthor {
    width: 300px;
    height: 100px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.readBook {
    width: 20px;
    height: 20px;
    margin-left: 80px;
}



.removeBook {
    width: 120;
    height: 30px;
    background-color: purple;
    border-radius: 10px;
    

}

.author {
    place-self: center;
}

.title {
    place-self: center;
}

.read {
    place-self: center;

}

.remove {
    place-self: center;

}
